#search_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
    width: 50%;
}

#search_input_container {
    width: 100%;
    height: 3vh;
    position: relative;
}

#search_input_container input {
    width: 100%;
    height: 100%;
    background-color: white;
    border: none;
    border-radius: 1.5vh;
    color: black;
    padding-left: 1vh;
    font-size: 1.5vh;
}

#search_input_container img {
    position: absolute;
    right: 0;
    top: 0.5vh;
    height: 2vh;
    cursor: pointer;
}

#result_container {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-gap: 2vh;
    justify-content: space-between;
}