#search_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
    width: 45%;
    padding: 2vh;
    box-sizing: border-box;
}

#search_container p {
    font-size: 1.75vh;
    width: inherit;
}

#search_input_container {
    width: 100%;
    height: 3vh;
    position: relative;
}

#search_input_container input {
    width: 100%;
    height: 100%;
    background-color: white;
    border: none;
    border-radius: 1.5vh;
    color: black;
    padding-left: 1vh;
    font-size: 1.5vh;
}

#search_input_container img {
    position: absolute;
    right: 0;
    top: 0.5vh;
    height: 2vh;
    cursor: pointer;
}

#result_container {
    width: 100%;
    display: grid;
    grid-template-columns: 18% 18% 18% 18% 18%;
    grid-gap: 2vh;
    justify-content: space-between;
    box-sizing: content-box;
}

#result_container > div {
    width: 100%;
    height: 100%;
}

@media (max-width: 1000px) {
  #search_container {
    width: 80%;
  }
  #result_container {
    min-height: 40vh;
  }
}