#series_picture_container {
    width: 150px;
    height: 210px;
    position: relative;
    border-radius: 13px;
    margin: 3px;
}

#series_picture_container:hover {
    border: 3px solid white;
    margin: 0;
}

#series_picture_container button {
    position: absolute;
    right: 0;
    top: 0;
}

#series_picture_container img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    cursor: pointer;
}