button {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;
    top: 0;
    background-color: white;
    width: 35px;
    height: 35px;
    border: none;
    border-radius: 17.5px;
    cursor: pointer;
    margin: 5px;
}

button svg {
    width: 80%;
    height: 80%;
    padding-top: 2px;
}

button svg:hover {
    width: 80%;
    height: 80%;
    padding-top: 2px;
    fill: lightcoral;
}