#root {
    display: flex;
    justify-content: space-between;
}

#default_container {
    width: 27.5%;
}

@media (max-width: 1000px) {
  #root {
    flex-direction: column-reverse;
    align-items: center;
  }
  #default_container {
    width: 0;
  }
}
