#series_details_container {
    display: flex;
    flex-direction: column;
    gap: 2%;
    background-color: black;
    width: 27.5%;
    height: 90vh;
    align-self: center;
    border-radius: 20px 0 0 20px;
    box-sizing: border-box;
    padding: 3vh;
}

#series_details_container h2 {
    margin: 0;
    margin-left: 2px;
    font-size: 3vh;
    color: white
}

#series_details_container p {
    font-size: 1.75vh;
    color: white;
}

#series_name_favorite_container {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#series_main_image_info_container {
    width: 100%;
    height: fit-content;
    display: flex;
    gap: 5%;
}

#series_main_image_info_container img {
    width: 30%;
    border-radius: 2vh;
} 

#series_other_info_container {
    overflow: auto;
}

@media (max-width: 1000px) {
  #series_details_container {
    width: 90%;
    height: 50vh;
    position: fixed;
    bottom: 0;
    border-radius: 20px 20px 0 0;
 }
 #series_main_image_info_container {
    width: 100%;
    height: 45%;
 }
 #series_main_image_info_container img {
    width: 15%;
 } 
}