#favorites_container {
    width: 20%;
    height: 100vh;
    background-color: red;
    padding-left: 1%;
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

#favorites_container h2 {
    margin: 0;
    margin-top: 2vh;
}

#favorites_details_container {
    width: 90%;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-gap: 1vh;
    justify-content: space-between;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-right: 17px;
    box-sizing: content-box;
}

#favorites_details_container > div {
    width: 100%;
    height: 100%;
}